@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.form-wrapper {
  display: flex;
  background-color: #3f5efb;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(77, 187, 145, 1) 31%,
    rgba(84, 186, 137, 1) 36%,
    rgba(108, 182, 110, 1) 53%,
    rgba(119, 180, 97, 1) 61%,
    rgba(173, 173, 34, 1) 100%
  );
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/******* FORM: ******/

form {
  padding: 2rem;
  color: white;
}
label {
  width: 150px;
  display: inline-block;
}
form div {
  margin: 1rem 0;
}

.submit-button {
  text-align: center;
  justify-content: center;
  align-items: center;
}

input,
textarea,
select {
  font-family: "Roboto" sans-serif;
  background: #f4f4f4;
  border: 1px solid rgb(102, 102, 102);
  width: 250px;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.form-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

/********* VIEW: **********/

.view {
  padding: 2rem;
  width: 45%;
}

.notepad {
  background: #f4f4f4;
  margin: 1rem 0;
  position: relative;
  box-shadow: 0 0 5px rgb(121, 121, 121);
}

.notepad::before {
  content: "";
  width: 2px;
  height: 100%;
  border-left: 1px solid rgb(255, 77, 0);
  border-right: 1px solid rgb(255, 77, 0);
  position: absolute;
  left: 35px;
}

.notepad p {
  padding: 1rem;
  border-bottom: 1px dotted rgb(145, 145, 145);
  text-indent: 50px;
}

.notepad span {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  margin-left: 15px;
}
/******* POPUP: ******/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  top: 0;
  left: 0;
  height: 25rem;
  width: 40rem;
  background-color: #f0e69c;
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
  border-radius: 15px;
  font-weight: bold;
}

.popup p {
  padding: 1rem 0;
}

.form_wrapper {
  display: flex;
  background: rgb(11, 57, 95);
}

.notes {
  margin: 4rem;
}

.popup-confirm-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.popup-deny-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.popup-close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.notes-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly;
}

.note {
  margin: 1rem 1rem;
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.note p {
  font-size: 15px;
  color: #3f5efb;
}
.note h1 {
  font-size: 20px;
}
